.post {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 15px;
}

.post_header {
  display: flex;
  margin-bottom: 10px;
}

.post_info {
  margin-left: 10px;
}

.post_info > p {
  font-size: 12px;
  color: gray;
}

.post_body {
  overflow-wrap: anywhere;
}

.post_info > h2 {
  font-size: 15px;
}

.post_button{
    display: flex;
    justify-content: space-evenly;
}
